<a href="https://colab.research.google.com/github/CristianoDataScience/Analise-Estat-stica-Enem_2019/blob/main/Amostragem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Amostragem

### Importando Bibliotecas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
enem_sp = pd.read_csv('/content/drive/MyDrive/curso estatistica/enem_2019_tratado.csv',
                      sep = ',', encoding= 'iso-8859-1')

enem_sp.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,nao_respondeu,NaN,...,600.2,Ingles,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Ingles,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Nao
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,publica,35904958.0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,publica,NaN,...,419.2,Ingles,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,nao_respondeu,NaN,...,796.1,Ingles,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim

In [ ]:
enem_campinas = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Campinas']

In [ ]:
enem_campinas.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
15,"1,90E+11",Campinas,17,F,1,branca,1,1,nao_respondeu,NaN,...,496.5,Ingles,1.0,160.0,120.0,140.0,140.0,120.0,680.0,Sim
31,"1,90E+11",Campinas,19,F,1,parda,1,1,nao_respondeu,NaN,...,73.1,Ingles,1.0,140.0,120.0,160.0,140.0,160.0,720.0,Sim
51,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,NaN,...,417.5,Ingles,1.0,160.0,140.0,160.0,120.0,160.0,740.0,Sim
116,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,26078562.0,...,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,Sim
169,"1,90E+11",Campinas,17,M,1,branca,1,2,privada,NaN,...,624.4,Ingles,1.0,140.0,120.0,140.0,160.0,160.0,720.0,Sim

In [ ]:
enem_campinas.shape

(13198, 28)

## AMOSTRAGEM ALEATÓRIA SIMPLES

In [ ]:
np.random.seed(1)

In [ ]:
amos_simples = enem_campinas.sample(frac=0.20) # Percentual

In [ ]:
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
327999,"1,90E+11",Campinas,20,M,1,preta,1,1,nao_respondeu,NaN,...,459.6,Ingles,1.0,180.0,200.0,180.0,200.0,200.0,960.0,Sim
235222,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018296.0,...,48.8,Ingles,1.0,160.0,180.0,160.0,140.0,140.0,780.0,Sim
134221,"1,90E+11",Campinas,18,F,1,parda,1,2,publica,NaN,...,429.9,Ingles,1.0,100.0,120.0,100.0,80.0,100.0,500.0,Sim
358407,"1,90E+11",Campinas,25,M,0,parda,1,1,nao_respondeu,NaN,...,687.4,Espanhol,1.0,140.0,120.0,120.0,140.0,140.0,660.0,Nao
173364,"1,90E+11",Campinas,18,M,1,parda,1,1,nao_respondeu,NaN,...,617.9,Ingles,1.0,140.0,120.0,140.0,140.0,80.0,620.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452747,"1,90E+11",Campinas,45,F,1,branca,1,1,nao_respondeu,NaN,...,373.5,Espanhol,1.0,80.0,80.0,80.0,80.0,80.0,400.0,Sim
362918,"1,90E+11",Campinas,19,M,1,preta,1,1,nao_respondeu,NaN,...,450.7,Ingles,1.0,120.0,40.0,40.0,120.0,0.0,320.0,Sim
221397,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,524.8,Espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
76628,"1,90E+11",Campinas,17,M,0,branca,1,2,publica,35018797.0,...,649.7,Ingles,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
126402,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35039901.0,...,376.6,Espanhol,1.0,120.0,160.0,140.0,120.0,140.0,680.0,Sim

In [ ]:
amos_simples = enem_campinas.sample(3000) # Quantidade numérica

In [ ]:
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
57191,"1,90E+11",Campinas,17,F,1,amarela,1,2,publica,35045937.0,...,653.8,Ingles,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Sim
215078,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35018880.0,...,507.8,Ingles,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
430770,"1,90E+11",Campinas,18,M,1,branca,1,2,privada,35112902.0,...,823.3,Ingles,1.0,140.0,180.0,120.0,160.0,160.0,760.0,Sim
409180,"1,90E+11",Campinas,19,F,1,preta,1,2,publica,35047120.0,...,574.7,Ingles,1.0,120.0,120.0,120.0,120.0,140.0,620.0,Sim
429862,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35812900.0,...,522.7,Ingles,1.0,140.0,120.0,120.0,160.0,100.0,640.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238949,"1,90E+11",Campinas,22,F,1,preta,1,1,nao_respondeu,NaN,...,601.2,Ingles,1.0,160.0,120.0,160.0,160.0,180.0,780.0,Sim
242711,"1,90E+11",Campinas,17,F,1,parda,1,2,privada,35467765.0,...,628.3,Ingles,1.0,160.0,140.0,160.0,160.0,180.0,800.0,Sim
467039,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,NaN,...,382.6,Ingles,1.0,80.0,120.0,100.0,100.0,100.0,500.0,Sim
189967,"1,90E+11",Campinas,19,F,1,parda,1,1,nao_respondeu,NaN,...,455.1,Espanhol,1.0,100.0,140.0,120.0,140.0,120.0,620.0,Nao
282921,"1,90E+11",Campinas,18,F,1,parda,1,2,publica,35812900.0,...,511.2,Ingles,1.0,120.0,140.0,120.0,140.0,140.0,660.0,Sim

#### Outra maneira

In [ ]:
np.random.seed(2)

In [ ]:
amostra = np.random.choice(a=[0,1], size=13198, replace=True, p=[0.8, 0.2])

In [ ]:
amostra

array([0, 0, 0, ..., 0, 0, 1])

In [ ]:
len(amostra[amostra == 0])

10566

In [ ]:
len(amostra[amostra == 1])

2632

In [ ]:
amos_simples = enem_campinas.loc[amostra == 1]

In [ ]:
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
949,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35924573.0,...,601.4,Ingles,1.0,160.0,120.0,120.0,140.0,120.0,660.0,Sim
1058,"1,90E+11",Campinas,19,M,1,parda,1,1,nao_respondeu,NaN,...,474.6,Ingles,1.0,120.0,120.0,120.0,160.0,100.0,620.0,Sim
1980,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35018302.0,...,479.9,Ingles,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Nao
2053,"1,90E+11",Campinas,18,F,1,parda,1,1,nao_respondeu,NaN,...,424.2,Ingles,1.0,100.0,40.0,20.0,80.0,0.0,240.0,Sim
2328,"1,90E+11",Campinas,20,F,1,parda,2,1,nao_respondeu,NaN,...,552.5,Espanhol,1.0,120.0,120.0,100.0,100.0,80.0,520.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498946,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35018797.0,...,484.1,Ingles,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
499198,"1,90E+11",Campinas,18,M,1,preta,1,2,publica,35018363.0,...,666.4,Ingles,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim
499258,"1,90E+11",Campinas,21,F,1,preta,1,1,nao_respondeu,NaN,...,503.6,Ingles,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Sim
499691,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,35018089.0,...,770.3,Ingles,1.0,120.0,120.0,120.0,160.0,80.0,600.0,Sim
499883,"1,90E+11",Campinas,20,F,1,branca,1,1,nao_respondeu,NaN,...,701.1,Ingles,1.0,160.0,200.0,200.0,200.0,180.0,940.0,Sim

## AMOSTRAGEM SISTEMÁTICA

In [ ]:
enem_campinas.shape

(13198, 28)

In [ ]:
np.random.seed(3)
inicio = np.random.choice(10, 1)

In [ ]:
amostra2 = np.arange(inicio,13198,100)
amostra2

array([    8,   108,   208,   308,   408,   508,   608,   708,   808,
         908,  1008,  1108,  1208,  1308,  1408,  1508,  1608,  1708,
        1808,  1908,  2008,  2108,  2208,  2308,  2408,  2508,  2608,
        2708,  2808,  2908,  3008,  3108,  3208,  3308,  3408,  3508,
        3608,  3708,  3808,  3908,  4008,  4108,  4208,  4308,  4408,
        4508,  4608,  4708,  4808,  4908,  5008,  5108,  5208,  5308,
        5408,  5508,  5608,  5708,  5808,  5908,  6008,  6108,  6208,
        6308,  6408,  6508,  6608,  6708,  6808,  6908,  7008,  7108,
        7208,  7308,  7408,  7508,  7608,  7708,  7808,  7908,  8008,
        8108,  8208,  8308,  8408,  8508,  8608,  8708,  8808,  8908,
        9008,  9108,  9208,  9308,  9408,  9508,  9608,  9708,  9808,
        9908, 10008, 10108, 10208, 10308, 10408, 10508, 10608, 10708,
       10808, 10908, 11008, 11108, 11208, 11308, 11408, 11508, 11608,
       11708, 11808, 11908, 12008, 12108, 12208, 12308, 12408, 12508,
       12608, 12708, 12808, 12908, 13008, 13108])

In [ ]:
amos_sistematica = enem_campinas.iloc[amostra2,:]

In [ ]:
amos_sistematica

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
401,"1,90E+11",Campinas,18,F,1,branca,1,1,nao_respondeu,NaN,...,68.6,Ingles,1.0,160.0,160.0,180.0,160.0,200.0,860.0,Sim
5079,"1,90E+11",Campinas,18,F,1,branca,1,2,publica,35018855.0,...,419.9,Ingles,1.0,140.0,120.0,120.0,120.0,140.0,640.0,Sim
9218,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,617.1,Ingles,1.0,120.0,120.0,120.0,120.0,120.0,600.0,Sim
13685,"1,90E+11",Campinas,20,M,1,parda,1,1,nao_respondeu,NaN,...,576.4,Ingles,1.0,160.0,200.0,180.0,200.0,180.0,920.0,Sim
18239,"1,90E+11",Campinas,20,M,1,branca,1,1,nao_respondeu,NaN,...,796.2,Ingles,1.0,160.0,200.0,200.0,200.0,200.0,960.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481894,"1,90E+11",Campinas,34,M,1,parda,1,1,nao_respondeu,NaN,...,932.1,Ingles,1.0,140.0,120.0,160.0,160.0,160.0,740.0,Sim
485805,"1,90E+11",Campinas,16,F,1,branca,1,2,publica,35039901.0,...,441.6,Ingles,1.0,120.0,120.0,100.0,120.0,0.0,460.0,Sim
488958,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,492.9,Ingles,1.0,160.0,120.0,140.0,120.0,140.0,680.0,Sim
492626,"1,90E+11",Campinas,21,M,1,branca,1,1,nao_respondeu,NaN,...,51.1,Ingles,1.0,120.0,120.0,120.0,100.0,0.0,460.0,Sim
496410,"1,90E+11",Campinas,19,M,1,preta,1,1,nao_respondeu,NaN,...,404.4,Ingles,1.0,100.0,80.0,80.0,80.0,40.0,380.0,Sim

## AMOSTRAGEM ESTRATIFICADA

In [ ]:
enem_campinas['RACA'].value_counts()

branca           7507
parda            3652
preta            1510
amarela           279
nao_declarado     205
indigina           45
Name: RACA, dtype: int64

#### Para quantidade pequena de grupos

In [ ]:
branca = enem_campinas.loc[enem_campinas.RACA == 'branca'].sample(frac=0.15)
branca.shape

(1126, 28)

In [ ]:
parda = enem_campinas.loc[enem_campinas.RACA == 'parda'].sample(frac=0.15)
parda.shape

(548, 28)

In [ ]:
preta = enem_campinas.loc[enem_campinas.RACA == 'preta'].sample(frac=0.15)
preta.shape

(226, 28)

In [ ]:
amarela = enem_campinas.loc[enem_campinas.RACA == 'amarela'].sample(frac=0.15)
amarela.shape

(42, 28)

In [ ]:
nao_declarado = enem_campinas.loc[enem_campinas.RACA == 'nao_declarado'].sample(frac=0.15)
nao_declarado.shape

(31, 28)

In [ ]:
indigina = enem_campinas.loc[enem_campinas.RACA == 'indigina'].sample(frac=0.15)
indigina.shape

(7, 28)

In [ ]:
amos_estra = pd.concat([branca, parda, preta, amarela, nao_declarado, indigina])

In [ ]:
# Amostragem de 15% dos dados 
amos_estra

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
315502,"1,90E+11",Campinas,19,M,1,branca,1,1,nao_respondeu,NaN,...,371.9,Espanhol,1.0,120.0,120.0,120.0,120.0,120.0,600.0,Sim
126939,"1,90E+11",Campinas,26,F,1,branca,1,1,nao_respondeu,NaN,...,516.4,Espanhol,1.0,100.0,40.0,40.0,80.0,20.0,280.0,Nao
168286,"1,90E+11",Campinas,18,F,1,branca,1,2,privada,NaN,...,630.1,Espanhol,1.0,120.0,120.0,100.0,120.0,120.0,580.0,Sim
30407,"1,90E+11",Campinas,18,F,1,branca,1,1,nao_respondeu,NaN,...,580.1,Espanhol,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Sim
119936,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35045937.0,...,691.8,Ingles,1.0,120.0,120.0,120.0,120.0,140.0,620.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479222,"1,90E+11",Campinas,18,M,1,indigina,1,2,publica,35045718.0,...,466.9,Ingles,1.0,100.0,40.0,40.0,100.0,0.0,280.0,Nao
265297,"1,90E+11",Campinas,17,M,1,indigina,1,2,publica,35045664.0,...,502.4,Ingles,1.0,120.0,120.0,100.0,120.0,80.0,540.0,Sim
195540,"1,90E+11",Campinas,17,M,1,indigina,1,2,publica,35922985.0,...,433.6,Ingles,1.0,160.0,200.0,160.0,180.0,120.0,820.0,Sim
397270,"1,90E+11",Campinas,23,F,1,indigina,1,1,nao_respondeu,NaN,...,411.1,Espanhol,1.0,120.0,160.0,100.0,120.0,0.0,500.0,Sim
388318,"1,90E+11",Campinas,19,M,1,indigina,1,1,nao_respondeu,NaN,...,598.4,Ingles,1.0,140.0,120.0,100.0,140.0,80.0,580.0,Sim

### GRANDES QUANTIDADES DE GRUPOS DE UMA AMOSTRAGEM

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_treino, X_teste, y_treino, amos_estra = train_test_split(enem_campinas.drop('RACA',axis=1),enem_campinas['RACA'],
                                                           stratify=enem_campinas['RACA'], test_size=0.20)

In [ ]:
amos_estra.shape

(2640,)

In [ ]:
amos_estra.value_counts()

branca           1502
parda             730
preta             302
amarela            56
nao_declarado      41
indigina            9
Name: RACA, dtype: int64

In [ ]:
amos_estra = amos_estra.index

In [ ]:
amos_estra

Int64Index([183607,  49340, 370000, 486041, 333976, 416160,  43572,  35074,
            308184, 462715,
            ...
            111853,  33434,  31967, 376022, 453030,  16456, 215945, 149900,
            405298, 102596],
           dtype='int64', length=2640)

In [ ]:
amos_estra_camp = enem_campinas.loc[amos_estra,:]

In [ ]:
amos_estra_camp

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
183607,"1,90E+11",Campinas,36,M,2,parda,1,1,nao_respondeu,NaN,...,705.3,Ingles,1.0,160.0,200.0,160.0,160.0,200.0,880.0,Sim
49340,"1,90E+11",Campinas,19,M,1,branca,1,1,nao_respondeu,NaN,...,598.9,Ingles,1.0,160.0,120.0,120.0,120.0,80.0,600.0,Sim
370000,"1,90E+11",Campinas,31,M,1,preta,1,1,nao_respondeu,NaN,...,587.5,Espanhol,1.0,100.0,120.0,120.0,100.0,120.0,560.0,Sim
486041,"1,90E+11",Campinas,20,M,1,preta,1,1,nao_respondeu,NaN,...,387.9,Ingles,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
333976,"1,90E+11",Campinas,19,M,1,branca,1,2,publica,35018922.0,...,487.2,Ingles,1.0,120.0,120.0,120.0,120.0,120.0,600.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16456,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,582.8,Ingles,1.0,160.0,120.0,140.0,140.0,120.0,680.0,Sim
215945,"1,90E+11",Campinas,17,M,1,preta,1,2,publica,35039901.0,...,641.7,Ingles,1.0,120.0,160.0,120.0,120.0,60.0,580.0,Sim
149900,"1,90E+11",Campinas,21,F,1,branca,1,1,nao_respondeu,NaN,...,588.9,Ingles,1.0,120.0,120.0,120.0,80.0,80.0,520.0,Sim
405298,"1,90E+11",Campinas,23,F,2,parda,1,1,nao_respondeu,NaN,...,394.1,Espanhol,1.0,80.0,40.0,40.0,100.0,0.0,260.0,Sim
102596,"1,90E+11",Campinas,17,M,1,branca,1,2,privada,35112859.0,...,594.9,Espanhol,1.0,140.0,120.0,120.0,140.0,160.0,680.0,Sim

## AMOSTRAGEM POR CONGLOMERADO (AGRUPAMENTO)

In [ ]:
escolas_publicas = enem_campinas.loc[enem_campinas.ESCOLA == 'publica']

In [ ]:
escolas_publicas.shape

(4175, 28)

In [ ]:
escolas_publicas

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
51,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,NaN,...,417.5,Ingles,1.0,160.0,140.0,160.0,120.0,160.0,740.0,Sim
116,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,26078562.0,...,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,Sim
325,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35907376.0,...,509.3,Ingles,1.0,80.0,120.0,100.0,100.0,80.0,480.0,Sim
949,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35924573.0,...,601.4,Ingles,1.0,160.0,120.0,120.0,140.0,120.0,660.0,Sim
1004,"1,90E+11",Campinas,24,F,1,branca,1,2,publica,35980158.0,...,359.8,Espanhol,1.0,120.0,40.0,100.0,100.0,60.0,420.0,Nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499530,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35042651.0,...,491.6,Ingles,1.0,140.0,120.0,120.0,160.0,120.0,660.0,Sim
499640,"1,90E+11",Campinas,22,M,1,preta,1,2,publica,35018533.0,...,365.4,Espanhol,1.0,80.0,60.0,60.0,80.0,0.0,280.0,Sim
499691,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,35018089.0,...,770.3,Ingles,1.0,120.0,120.0,120.0,160.0,80.0,600.0,Sim
499749,"1,90E+11",Campinas,17,M,1,branca,1,2,publica,35040400.0,...,405.1,Espanhol,1.0,120.0,80.0,80.0,100.0,60.0,440.0,Sim
499862,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018879.0,...,40.3,Ingles,1.0,120.0,120.0,120.0,120.0,160.0,640.0,Sim

In [ ]:
amostras = escolas_publicas['CO_ESCOLA'].value_counts()
amostras

35045937.0    152
35018363.0    134
35018797.0    124
35018879.0    110
35018326.0    109
             ...
35462822.0      1
35058836.0      1
35112926.0      1
35017255.0      1
35047053.0      1
Name: CO_ESCOLA, Length: 186, dtype: int64

In [ ]:
amostras.index

Float64Index([35045937.0, 35018363.0, 35018797.0, 35018879.0, 35018326.0,
              35047200.0, 35901097.0, 35045949.0, 35018235.0, 35018302.0,
              ...
              35018181.0, 35445757.0, 35045724.0, 35432842.0, 35039834.0,
              35462822.0, 35058836.0, 35112926.0, 35017255.0, 35047053.0],
             dtype='float64', length=186)

In [ ]:
amostragem = np.random.choice(a=[0,1],size=186, replace=True, p=[0.80, 0.20])

In [ ]:
amostragem

array([0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0])

In [ ]:
amos_conglomerado = amostras.loc[amostragem == 1] # 20% da amostra

In [ ]:
amos_conglomerado

35018363.0    134
35047200.0     93
35039901.0     50
35047120.0     49
35018259.0     36
35018521.0     36
35018806.0     35
35922985.0     30
35924544.0     30
35018296.0     25
35018272.0     24
35018697.0     20
35018260.0     18
35018788.0     14
35018818.0     13
35018910.0     13
35901131.0     13
35065626.0     13
35901118.0     11
35045697.0     11
35901088.0      9
35042626.0      9
35913923.0      9
35112884.0      9
35430705.0      8
35018200.0      6
35450820.0      4
35123080.0      4
35165062.0      4
35112707.0      3
35112586.0      2
35337833.0      1
35016559.0      1
35307701.0      1
35462342.0      1
35045962.0      1
35150095.0      1
35432842.0      1
35058836.0      1
35017255.0      1
Name: CO_ESCOLA, dtype: int64

In [ ]:
amos_conglomerado.shape

(40,)

In [ ]:
amos_conglomerado.index

Float64Index([35018363.0, 35047200.0, 35039901.0, 35047120.0, 35018259.0,
              35018521.0, 35018806.0, 35922985.0, 35924544.0, 35018296.0,
              35018272.0, 35018697.0, 35018260.0, 35018788.0, 35018818.0,
              35018910.0, 35901131.0, 35065626.0, 35901118.0, 35045697.0,
              35901088.0, 35042626.0, 35913923.0, 35112884.0, 35430705.0,
              35018200.0, 35450820.0, 35123080.0, 35165062.0, 35112707.0,
              35112586.0, 35337833.0, 35016559.0, 35307701.0, 35462342.0,
              35045962.0, 35150095.0, 35432842.0, 35058836.0, 35017255.0],
             dtype='float64')

In [ ]:
amos_conglomerado = escolas_publicas.loc[escolas_publicas['CO_ESCOLA'].isin([35018363.0, 35047200.0, 35039901.0, 35047120.0, 35018259.0,
              35018521.0, 35018806.0, 35922985.0, 35924544.0, 35018296.0,
              35018272.0, 35018697.0, 35018260.0, 35018788.0, 35018818.0,
              35018910.0, 35901131.0, 35065626.0, 35901118.0, 35045697.0,
              35901088.0, 35042626.0, 35913923.0, 35112884.0, 35430705.0,
              35018200.0, 35450820.0, 35123080.0, 35165062.0, 35112707.0,
              35112586.0, 35337833.0, 35016559.0, 35307701.0, 35462342.0,
              35045962.0, 35150095.0, 35432842.0, 35058836.0, 35017255.0])]

In [ ]:
amos_conglomerado

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
1177,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35924544.0,...,61.3,Ingles,1.0,120.0,120.0,140.0,120.0,180.0,680.0,Sim
1604,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35430705.0,...,394.7,Ingles,1.0,120.0,40.0,40.0,100.0,0.0,300.0,Nao
1736,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35047200.0,...,456.3,Ingles,1.0,140.0,120.0,120.0,120.0,100.0,600.0,Sim
2714,"1,90E+11",Campinas,17,M,1,preta,1,2,publica,35047200.0,...,641.3,Ingles,1.0,160.0,120.0,140.0,120.0,100.0,640.0,Sim
3006,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,35047120.0,...,467.6,Ingles,1.0,120.0,140.0,120.0,120.0,120.0,620.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497428,"1,90E+11",Campinas,18,M,1,branca,1,2,publica,35018363.0,...,679.3,Ingles,1.0,120.0,120.0,140.0,160.0,100.0,640.0,Sim
497877,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018363.0,...,516.7,Ingles,1.0,160.0,160.0,160.0,160.0,160.0,800.0,Sim
498213,"1,90E+11",Campinas,17,M,1,branca,1,2,publica,35924544.0,...,454.3,Ingles,1.0,120.0,120.0,120.0,80.0,140.0,580.0,Sim
498878,"1,90E+11",Campinas,18,F,1,parda,1,2,publica,35018259.0,...,487.5,Espanhol,1.0,120.0,120.0,120.0,100.0,60.0,520.0,Nao
499198,"1,90E+11",Campinas,18,M,1,preta,1,2,publica,35018363.0,...,666.4,Ingles,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim